#* @vtlmacrolibrary path="macro.vm" *#
#set($item=$field)
#if(!$item.id)#set($id=$item.name)#else#set($id=$item.id)#end
#set($component=$util.getComponentByType($item.type))
#if($component.dynamicValue)
    #parse($component.templateName)
#end
#if($item.tip)
<p class="help-block">$esc.html($item.tip)</p>
#end