
#if($chart.datasource&&$chart.datasource.provider)
#set($datasourceProvider=$provider.chartProvider($chart.datasource.provider))
#set($optionJson=$datasourceProvider.toJson($viewContext.toChartContext($chart.name)))
<!-- $chart.datasource.provider  -->
<!-- $datasourceProvider  -->
<!-- $viewContext.toChartContext($chart.name)  -->
<div data-type="echarts" id="$esc.html($chart.name)" data-option="$esc.html($optionJson)" style="width: 100%;min-height: 400px"></div>
#else
<div data-type="echarts" id="$esc.html($chart.name)" data-option="$esc.html($viewContext.toChartContext($chart.name).toJsonOption())" style="width: 100%;min-height: 400px"></div>
#end


<script>
    jQuery(document).ready(function(){
        jQuery("#$esc.javascript($chart.name)").each(function(i,v){
            var myChart = echarts.init(v);
            console.log(v);
            var option=$(v).data("option")
            myChart.setOption(option);
            #if($chart.popup)
                var data=jQuery("#chartform").serialize();
                myChart.on('click', function (params) {
                     debugger
                     var val = "$esc.javascript($chart.popup.field)"+"="+params.name;
                     data=data?"&"+val:val;
                     jQuery.ajax({
                         type: "GET",
                         url: "$request.contextPath/spring/data/chart/detail/$esc.javascript($chart.popup.searchview)?"+data
                     }).done(function( vData ) {

                     });
                    popupView("userSearchView","图表详情")
                });
            #end

        })

    })
</script>