#* @vtlmacrolibrary path="macro.vm" *#
<input id="$esc.html($id)" name="$esc.html($item.name)" data-autocomplete="true" data-view="$esc.html($view.name)" #if($item.name)data-field="$esc.html($item.name)#end" type="text" #mapiterator($component,$item,$attr.key)>
